/* @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i'); */



.card-work {
    background-color: #528692;
    /* display: flex; */
    /* display: -webkit-flex; */
    -webkit-justify-content: center;
    -webkit-align-items: center;
    justify-content: center;
    align-items: center;
}

.cards {
    /* width: 100%; */
    /* display: flex; */
    /* display: -webkit-flex; */
    justify-content: center;
    /* justify-content:space-evenly; */
    -webkit-justify-content: center;
    /* max-width: 820px; */
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('./img/005_c.png');
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('./img/006_vote.png');
}

.card--3 .card__img, .card--3 .card__img--hover {
    background-image: url('./img/school.jpg');
}

.card--4  .card--4 .card__img--hover {
    background-image: url('./img/fox.jpg');
}

.card--5 .card__img, .card--5 .card__img--hover {
    background-image: url('./img/fox_2.jpg');
}

.card--6 .card__img, .card--6 .card__img--hover {
    background-image: url('./img/text_card.png');
}

.card--7 .card__img, .card--7 .card__img--hover {
    background-image: url('./img/ice.jpg');
}

.card--8 .card__img, .card--8 .card__img--hover {
    background-image: url('./img/cat.gif');
}

.card--9 .card__img, .card--9 .card__img--hover {
    background-image: url('./img/tiger.jpg');
    
}
.card__like {
    width: 18px;
}

.card__clock {
    width: 15px;
    vertical-align: middle;
    fill: #AD7D52;
}

.card__time {
    font-size: 12px;
    color: #AD7D52;
    vertical-align: middle;
    margin-left: 5px;
}

.card__clock-info {
    float: right;
}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 350px;
    margin: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}
/* img{
    height: 250px;
    width: 100%;
} */
.card__info-hover {
    position: absolute;
    padding: 16px;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;

}

.cardd {
    margin-right: 25px;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    /* width: 500px; */
    height: 500px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.cardd:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.10, 1.10);
}
/* 卡片內文 */
.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 50px 24px 24px 24px;
}

.card__category {
    /* font-family: 'Raleway', sans-serif; */
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 500;
    color: #868686;
}

.card__title {
    margin-top: 35px;
    margin-bottom: -70px;
    font-size: 60px;
    color: #905ec5;
    /* font-family: 'Roboto Slab', serif; */
}

.card__by {
    font-size: 12px;
    /* font-family: 'Raleway', sans-serif; */
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.cardd:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.cardd:hover .card__info {
    background-color: transparent;
    position: relative;
}

.cardd:hover .card__info-hover {
    opacity: 1;
}

